/* background color based on style */
body.style-a { background-color:#F2F2F2; }
body.style-b { background-color:#EDEBE8; }
body.style-c { background-color:#F8F8F5; }
body.style-d { background-color:#F4EED9; }
body.style-e { background-color:#FFF1E0; }

#readability-article {
    margin-left:auto;
    margin-right:auto;
}
#readability-article-header {
    text-align:center;
    border-bottom:1px solid #666;
    padding-bottom:1em;
}
#readability-article-header h1 {
    font-size:2em;
}
#readability-article-host {
    font-size:87.5%;
    color:#666;
    text-transform:lowercase;
}
#readability-article-url {
    font-size:87.5%;
    color:#666;
    font-style:italic;
    text-align:center;
    overflow:hidden;
}

#readability-article-host a, #readability-article-url a {
    color:#666;
    text-decoration:none;
}

/* font-families according to style */
#readability-article.size-x-small {font-size:75%;}
#readability-article.size-small {font-size:87.5%}
#readability-article.size-medium {font-size:100%}
#readability-article.size-large {font-size:112.5%}
#readability-article.size-x-large {font-size:150%}

#readability-article.margin-x-narrow {width:90%;}
#readability-article.margin-narrow {width:75%}
#readability-article.margin-medium {width:65%}
#readability-article.margin-wide {width:45%}
#readability-article.margin-x-wide {width:30%}

#readability-article-body p.page-separator {
    background: url("http://github.com/al3xandru/readability.py/raw/master/css/break-bar2.gif") no-repeat scroll center bottom transparent;
    margin: 2em auto;
    text-align:center;
    text-indent: -9999px;
    height: 24px;
}

#readability-article-body {
    text-align:justify;
    line-height:140%;
}

#readability-article-body h1,
#readability-article-body h2,
#readability-article-body h3,
#readability-article-body h4,
#readability-article-body h5,
#readability-article-body h6 {
    text-align:left;
    line-height:125%;
}

#readability-article-body a {
    text-decoration:none;
    border-bottom:1px dotted #BBB;
    color:#00005A;
}
#readability-article-body a:hover {
    text-decoration:underline;
    border-bottom:none;
}
#readability-article-body sup {
    vertical-align: baseline;
    position: relative;
    bottom: 1ex;
}
#readability-article-body pre, #readability-article-body code {
    overflow-x:scroll;
    font-size:90%;
}
    #readability-article.size-x-small #readability-article-body pre, #readability-article.size-x-small #readability-article-body code {font-size:100%;}
    #readability-article.size-small #readability-article-body pre, #readability-article.size-small #readability-article-body code {font-size:95%}

#readability-article-footnotes {
    overflow:hidden;
    font-size:87.5%;
}
    #readability-article.size-x-small #readability-article-footnotes {font-size:100%;}
    #readability-article.size-small #readability-article-footnotes {font-size:95%}

#readability-article-footnotes hr {
    border: 0 solid #999999;
    border-top-width: 1px;
    margin-left: 0;
    margin-top: 5em;
    width: 8em;
}

#readability-confs {
    border-top:1px dotted #666;
    text-align:center;
    margin:2em auto 5em;
}
#readability-confs div#conftoggle {
    margin:0.5em auto 1em;
    width:50px;
}
#readability-confs div#conftoggle a {
    text-decoration:none;
    background: url("http://github.com/al3xandru/readability.py/raw/master/css/button_disclose.png") no-repeat scroll left top transparent;
    display: block;
    height: 15px;
    text-indent: -9999px;
    width: 24px;
}
#readability-confs div#confopts table {
    text-align: left; 
    margin: 0 auto;
}

@media all and (min-device-width:960px) {
    #readability-confs { margin: 2em auto 1em; }
}

/*
#readability-article-body.style-chaparral {
    font-family: "Chaparral Pro", "chaparral-pro-1","chaparral-pro-2", Cambria,"Hoefler Text",Georgia, "Times New Roman",serif;
}
#readability-article-body.style-warnock {
    font-family: "Warnock Pro", "warnock-pro-1","warnock-pro-2", Cambria,"Hoefler Text",Georgia, "Times New Roman",serif;
}
#readability-article-body.style-myriad {
    font-family: "Myriad Pro", "myriad-pro-1","myriad-pro-2", Corbel, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#readability-article-body.style-museo {
    font-family: "Museo", "museo-1","museo-2", Corbel, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#readability-article-body.style-inspira {
    font-family: "GE Inspira Pitch", "GE Inspira", Corbel, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#readability-article-body.style-arvo {
    font-family: Arvo,"Chaparral Pro","chaparral-pro-1","chaparral-pro-2",Cambria,"Hoefler Text",Georgia,"Times New Roman",serif;
}
#readability-article-body.style-veraserif {
    font-family: "Bitstream Vera Serif", Cambria,"Hoefler Text",Georgia, "Times New Roman",serif;
}
#readability-article-body.style-verasans {
    font-family: "Bitstream Vera Sans", Corbel, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*/
